<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-flex flex-row justify-content-between align-items-center">
    <div class="form-row">
      <div class="col-12 col-md-6">
        <%= form.select :date, @days.map { |d| [d.strftime("%a, %b %d"), d]}, {prompt: "Date"}, {required: true, class: "custom-select"} %>
      </div>  
      <div class="col-12 col-md-6">
        <%= form.select :time, @times.map { |t| [t.strftime("%I:%M %p")]}, {prompt: "Time"}, {required: true, class: "custom-select"} %>
      </div>
    </div>
    <%= form.submit "Schedule", class: "btn btn-primary" %>
  </div>

  <%= form.hidden_field :price, value: cookies[:price] %>
  <%= form.hidden_field :address_id, value: cookies[:address] %>
  <%= form.hidden_field :customer_id, value: current_customer.id %>

<% end %>
