<div class="container mt-5">
  <h1>Jobs</h1>
    <div class="row justify-content-center">
  <% @jobs.each do |job| %>
      <div class="col-md-4 my-3">
          <div class="card">
            <div class="card-body">
              <h6><strong><%= job.customer.name %></strong></h6>
              <p><%= job.address.long_address %></p>
              <p>$<%= job.price %></p>
              <p><%= job.time %> <%= job.date %></p>
              <%= link_to "Create Report", new_report_path(address: job.address.id, customer: job.customer.id), class: "btn btn-primary" %>
              <%= link_to 'Show', job %>
            </div>
          </div>
      </div>
  <% end %>
    </div>
  <%= link_to 'New Job', new_job_path %>
</div>


