<div class="mt-5">
	<div class="container" style="border-top: 1px solid #212121;">
		<div class="row justify-content-center py-5">
			<div class="col-md-4">
				<h4 class="font-weight-bolder">visto</h6>
				<div style="max-width: 300px">
					<p class="font-weight-light">Confidence to buy &trade;</p>
				</div>
			</div>
			<div class="col-md-4">
				<h6>Product</h6>
				<div class="d-flex flex-column">
					<%= link_to "Inspection", inspection_path, class: "font-weight-light" %>
					<%= link_to "Pricing", pricing_path, class: "font-weight-light" %>
					<%= link_to "Home Buyers", "#", class: "font-weight-light" %>
					<%= link_to "Home Sellers", "#", class: "font-weight-light" %>
				</div>
			</div>
			<div class="col-md-4">
				<h6>Company</h6>
				<div class="d-flex flex-column">
					<%= link_to "About", "#", class: "font-weight-light" %>
					<%= link_to "Blog", "#", class: "font-weight-light" %>
					<%= link_to "Contact", "#", class: "font-weight-light" %>
					<%= link_to "Login", new_admin_session_path, class: "font-weight-light" %>
				</div>
			</div>
			<div class="col-md-12">
				<small class="text-muted">	&copy; Pest Direct, LLC 2019</small>
			</div>
		</div>
	</div>
</div>