<div class="py-2" style="background: #fff; width: 100%; border-bottom: 1px solid #F9F9F9;">
	<div class="container">
		<div class="d-flex justify-content-between">
			<div>
				<% if admin_signed_in? %>
		      <small>You're signed in as an admin. <%= link_to "Logout", destroy_admin_session_path, method: :delete %></small>
    		<% end %>
			</div>
			<div>
				<% if customer_signed_in? %>
					<span class="mr-3"><%= link_to('LOGOUT', destroy_customer_session_path, method: :delete, style: "color: rgba(0, 0, 0, 0.5); letter-spacing: 0.1rem; font-size: 11px;") %></span>
				<% else %>
					<span class="mr-3"><%= link_to('LOGIN', new_customer_session_path, style: "color: rgba(0, 0, 0, 0.5); letter-spacing: 0.1rem; font-size: 11px;")  %></span>
				<% end %>
				<span class="ml-2"><%= image_tag("icons8-phone.svg", width: "12px;") %> <%= link_to "801-899-3794", "#", style: "color: rgba(0, 0, 0, 0.5); letter-spacing: 0.1rem; font-size: 12px;" %></span>
			</div>
		</div>
	</div>
</div>
<nav class="navbar navbar-expand-lg navbar-light shadow">
	<div class="container">
	  <a class="navbar-brand" href="/">
	  	<%#= image_tag("illo-written.svg", width: "50px;") %>
	  	<strong>visto</strong>
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav ml-auto">
	      <li class="nav-item">
	        <%= link_to "Pricing", pricing_path, class: "nav-link" %>
	      </li>
	      <li class="nav-item">
	        <%= link_to "Inspection", inspection_path, class: "nav-link" %>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Company</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link btn btn-light btn-sm" href="#">Book Now</a>
	      </li>
	    </ul>
	  </div>
	</div>
</nav>