<div style="width: 100%; background: #f9f9f9;">
	<div class="container pt-4">
		<div class="row justify-content-center align-items-center">
			<div class="col-md-5">
				<h1 class="h2 font-weight-bold">Home inspections made easy.</h1>
				<p class="lead mt-3">Schedule a house inspection online for your home or
				your clients starting at $199.</p>
				<%= link_to "Book my inspection", "#", class: "btn btn-success btn-lg shadow mt-4" %>
			</div>
			<div class="col-md-7" style="position: relative;">
				<%= image_tag("devlin-oneil.png", width: "100%") %>
				<div class="inspector">
					<h6 class="font-weight-bold">Chris C.</h6>
					<p>interNACHI Certified Inspector</p>
					<%= image_tag("icons8-google.svg", width: "25px") %>
					<%= image_tag("icons8-star-filled.svg", width: "20px") %>
					<%= image_tag("icons8-star-filled.svg", width: "20px") %>
					<%= image_tag("icons8-star-filled.svg", width: "20px") %>
					<%= image_tag("icons8-star-filled.svg", width: "20px") %>
					<%= image_tag("icons8-star-filled.svg", width: "20px") %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container mt-5">
	<h2 class="h4 text-center">Why Visto?</h2>
	<div class="row justify-content-center">
		<div class="col-md-4 mt-3">
			<%= image_tag("icons8-today.svg") %>
			<h6 class="font-weight-bold">Same-day</h6>
			<p>Reports are completed the same day as the inspection, usually immediately after the appointment.</p>
		</div>
		<div class="col-md-4 mt-3">
			<%= image_tag("icons8-read-online.svg") %>
			<h6 class="font-weight-bold">Online</h6>
			<p>You report will be accessible online for you to view or download. For home sellers it will be available to prospective buyers.</p>
		</div>
		<div class="col-md-4 mt-3">
			<%= image_tag("icons8-visualization-skill.svg") %>
			<h6 class="font-weight-bold">Visual</h6>
			<p>Your home inspection will be displayed on our industry leading visual report giving you
			the confidence to buy.</p>
		</div>
	</div>
</div>

<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-6 my-4">
			<div class="card shadow" style="border: none;">
				<div class="card-body">
					<h6 class="font-weight-bold">Home Seller</h6>
					<p>Home sellers can get a pre-listing home inspection completed at a discounted price. Control your situation and know what needs fixing before contract negotiation. You also have the option of making your report available to potential buyers to remove friction from buying your home.</p>
					<%= link_to "Book now", "#" %>
				</div>
			</div>
		</div>
		<div class="col-md-6 my-4">
			<div class="card shadow" style="border: none;">
				<div class="card-body">
					<h6 class="font-weight-bold">Home Buyer</h6>
					<p>A home inspection is essential before making any real estate purchase. Choose visto and get a visual report that you can understand and use as you decide which home to buy and through the negotiation process. Our report was built to be read by everyday people, not just real estate experts.</p>
					<%= link_to "Book now", "#" %>
				</div>
			</div>
		</div>
	</div>
</div>
