<div class="container mt-5" data-controller="signup" data-signup-index="0">
	<!-- Circles which indicates the steps of the form: -->
	<div class="text-center mb-4">
	  <span class="step active"></span>
	  <span class="step"></span>
	  <span class="step"></span>
	  <span class="step"></span>
	</div>

	<div class="tab" data-target="signup.tab">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card shadow">
					<div class="card-body">
						<div class="row justify-content-center">
							<div class="col-md-12">
								<h1 class="h5" style="letter-spacing: 0.1rem;">Home Inspection</h1>
								<p class="font-weight-light">
								  <%= image_tag("icons8-marker-black.svg", width: "16px", class: "mb-1") %> <%= @address.long_address %>
								</p>
								<%= image_tag("https://maps.googleapis.com/maps/api/streetview?size=400x400&location=#{@address.latitude},#{@address.longitude}&fov=90&pitch=0&key=AIzaSyARQ8k0F667JhDrekyvRKA_NhDrVei3rGI", width: "100%", class: "streetview") %>
								<div class="card mt-4" style="border: 1px dashed #212121">
					  			<div class="card-body">
					  				<div class="d-flex flex-row justify-content-between align-items-center">
					  					<span class="font-weight-light"><span class="font-weight-bold">$<%= cookies[:price] %></span> - General Home Inspection</span>
					  					<button type="button" id="nextBtn" class="btn btn-primary" data-action="click->signup#next">Select Service</button>
					  				</div>
					  			</div>
						    </div>
<!-- 						    <h6 class="mt-4" style="letter-spacing: 0.1rem;">Add-ons</h6>
						    <div style="width: 100%; border-bottom: 1px solid #212121;"></div>
						    <div class="d-flex flex-row justify-content-between align-items-center mt-3">
					  			<span>$99<span class="font-weight-light"> - Thermal Imaging</span></span>
					  					<%#= link_to "Add", "#", class: "btn btn-primary" %>
					  		</div>
					  		<div class="d-flex flex-row justify-content-between align-items-center mt-3">
					  			<span>$99<span class="font-weight-light"> - Radon Gas Test</span></span>
					  					<%#= link_to "Add", "#", class: "btn btn-primary" %>
					  		</div>
					  		<div class="d-flex flex-row justify-content-between align-items-center mt-3">
					  			<span>$99<span class="font-weight-light"> - Methamphetamine Sampling</span></span>
					  					<%#= link_to "Add", "#", class: "btn btn-primary" %>
					  		</div> -->

						      <div class="row justify-content-center mt-5">
						        <div class="col-md-4 mt-3">
						          <p class="font-weight-light"><%= image_tag("icons8-nailer.svg", width: "24px", class: "mb-2") %> <%= @yearbuilt %></p>
						        </div>
						        <div class="col-md-4 mt-3 text-md-center">
						          <p class="font-weight-light"><%= image_tag("icons8-house.svg", width: "24px", class: "mb-2") %> <%= @hometype %></p>
						        </div>
						        <div class="col-md-4 mt-3 text-md-right">
						        	<p class="font-weight-light"><%= image_tag("icons8-measure.svg", width: "24px", class: "mb-2") %> <%= @acres %> acres</p>
						        </div>
						        <div class="col-md-4 mt-3">
						        	<p class="font-weight-light"><%= image_tag("icons8-surface.svg", width: "24px", class: "mb-2") %> <%= @sqft %> sqft</p>
						        </div>
						        <div class="col-md-4 mt-3 text-md-center">
						        	<p class="font-weight-light"><%= image_tag("icons8-bedroom.svg", width: "24px", class: "mb-2") %> <%= @bedrooms %> bedrooms</p>
						        </div>
						        <div class="col-md-4 mt-3 text-md-right">
						        	<p class="font-weight-light"><%= image_tag("icons8-toilet-paper.svg", width: "24px", class: "mb-2") %> <%= @bathrooms %> bathrooms</p>
						        </div>
						        <div class="col-md-12 text-md-center">
						          <img src="http://www.zillow.com/widgets/GetVersionedResource.htm?path=/static/logos/Zillowlogo_200x50.gif" width="100" height="25" alt="Zillow Real Estate Search" id="yui_3_18_1_1_1535557505302_331">
						        </div>
						      </div><!-- row -->
						    </div><!-- col -->
							</div><!-- row -->
						</div><!-- card body -->
					</div><!-- card -->
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- tab -->

	<% unless customer_signed_in? %>
		<div class="tab my-5" data-target="signup.tab">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="card shadow">
						<div class="card-body">
						<h4>Create an account so you can access your report online.</h4>
						<div class="card bg-light my-5">
							<div class="card-body">
								<p class="lightbulb"><%= image_tag("icons8-idea", width: "28px", class: "mb-1") %> Visto uses a propietary interactive report that allows you to scroll thru your images, seach the report, and easily understand what is going on with the inspected property.</p>
							</div>
						</div>
							<%= form_for(:customer, url: registration_path(:customer), data: {target: "signup.form", signupForm: "1"}) do |f| %>
								<div class="card d-none text-center error my-5">
									<div class="card-body">
										<span>All fields are required</span>
									</div>
								</div>
			          <div class="form-group">
			            <div class="form-row">
			              <div class="col">
			                <%= f.label :first_name %><br />
			                <%= f.text_field :first_name, autofocus: true, placeholder: "First Name", class: "form-control", id: "first", required: true %>
			              </div>
			              <div class="col">
			                <%= f.label :last_name %><br />
			                <%= f.text_field :last_name, autofocus: true, placeholder: "Last Name", class: "form-control", id: "last", required: true %>
			              </div>
			            </div>
			          </div>

			          <div class="form-group">
			            <%= f.label :email %><br />
			            <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control", id: "email", required: true %>
			          </div>

			          <div class="form-group">
			            <%= f.label :mobile %><br />
			            <%= f.phone_field :mobile, autofocus: true, placeholder: "Mobile", class: "form-control", id: "mobile", required: true %>
			          </div>

			          <div class="form-group">
			            <%= f.label :password %>
			            <%= f.password_field :password, placeholder: "Password", class: "form-control", id: "password", required: true %>
			          </div>

			          <div class="row justify-content-between mt-5">
			          	<div class="col">
			          		<%= link_to "Back", "#", class: "btn btn-light", data: {action: "click->signup#previous"} %>
			          	</div>
			          	<div class="col text-md-right">
			            	<%= f.submit "Create Account", class: "btn btn-primary", data: {action: "click->signup#submitCustomer"} %>
			          	</div>
			          </div>
			        <% end %>
						</div>
					</div>
				</div>
			</div>
		</div><!-- tab row -->
	<% end %>
	<div class="tab my-5" data-target="signup.tab">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card shadow">
					<div class="card-body">
						<h4>Select a date and time</h4>
						<div class="card bg-light my-5">
							<div class="card-body">
								<p class="lighbulb"><%= image_tag("icons8-idea", width: "28px", class: "mb-1") %> Visto will send you a text message to verify the date and time you've selected.</p>
							</div>
						</div>
						<%= form_with(model: @job, local: true, data: {target: "signup.form", signupForm: "3"}) do |form| %>
						  <div class="d-flex flex-row justify-content-between align-items-center">
						      <div class="col-12 col-md-6">
						        <%= form.select :date, @days.map { |d| [d.strftime("%a, %b %d"), d]}, {prompt: "Date"}, {required: true, class: "custom-select", id: "job-date"}  %>
						      </div>  
						      <div class="col-12 col-md-6">
						        <%= form.select :time, @times.map { |t| [t.strftime("%I:%M %p")]}, {prompt: "Time"}, {required: true, class: "custom-select", id: "job-time"} %>
						      </div>
						  </div>

		          <div class="row justify-content-between mt-5">
		          	<div class="col">
		          		<%= link_to "Back", "#", class: "btn btn-light", data: {action: "click->signup#previous"} %>
		          	</div>
		          	<div class="col text-md-right">
		            	<%= form.submit "Book Inspection", class: "btn btn-primary", data: {action: "click->signup#submitJob"} %>
		          	</div>
		          </div>
						<% end %>

						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tab my-5" data-target="signup.tab">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card shadow">
					<div class="card-body">
						<h4>Input your preferred method of payment.</h4>
						<div class="card bg-light my-5">
							<div class="card-body">
								<p class="lightbulb"><%= image_tag("icons8-idea", width: "28px", class: "mb-1") %> Visto will not charge you for anything until after your home inspection is complete and you are satisified.</p>
							</div>
						</div>
						<div class="row mb-5">
							<div class="col-sm-6">
								<h6><small>Subtotal</small></h6>
							</div>
							<div class="col-sm-6 text-right">
								<h6>$<%= cookies[:price] %></h6>
							</div>
							<div class="col-12 my-1">
								<hr>
							</div>
							<div class="col-sm-6">
								<h6><small>Tax</small></h6>
							</div>
							<div class="col-sm-6 text-right">
								<% cookies[:tax] = cookies[:price].to_i * 0.047 %>
								<h6>$<%= cookies[:tax] %></h6>
							</div>
							<div class="col-12 my-1">
								<hr>
							</div>
							<div class="col-sm-6">
								<h6><strong>Total</strong></h6>
							</div>
							<div class="col-sm-6 text-right">
								<h4><span class="badge badge-info">$<%= cookies[:totalprice] = cookies[:tax].to_f + cookies[:price].to_f %></span></h4>
							</div>
						</div>
						<script src="https://js.stripe.com/v3/"></script>
						<form action="/payments-customer" method="post" id="payment-form">
						  <div class="form-row">
						  	<div class="col-12">
							    <label for="card-element">
							      Credit or debit card
							    </label>
							    <div id="card-element">
							      <!-- A Stripe Element will be inserted here. -->
							    </div>

							    <!-- Used to display form errors. -->
							    <div id="card-errors" role="alert"></div>
						  	</div>
						  </div>

						  <div class="row justify-content-between mt-5">
		          	<div class="col">
		          		<%= link_to "Back", "#", class: "btn btn-light", data: {action: "click->signup#previous"} %>
		          	</div>
		          	<div class="col text-md-right">
		            	<button class="btn btn-primary">Submit Payment</button>
		          	</div>
		          </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</div><!-- container -->



<script>
// Create a Stripe client.
var stripe = Stripe('pk_test_ltPOCimv4wKbqhNi3yJeuS2U');

// Create an instance of Elements.
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
// (Note that this demo uses a wider set of styles than the guide below.)
var style = {
  base: {
    color: '#32325d',
    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
    fontSmoothing: 'antialiased',
    fontSize: '16px',
    '::placeholder': {
      color: '#aab7c4'
    }
  },
  invalid: {
    color: '#fa755a',
    iconColor: '#fa755a'
  }
};

// Create an instance of the card Element.
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

// Handle real-time validation errors from the card Element.
card.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

// Handle form submission.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the user if there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server.
      stripeTokenHandler(result.token);
    }
  });
});

// Submit the form with the token ID.
function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
}

</script>