<%= form_with(model: report, data: {controller: "autosave", target: "autosave.form", action: "ajax:success->autosave#success ajax:error->autosave#error"}) do |form| %>

<div style="position:absolute;top: 0; left: 0; right: 0;width: 100%;" class="py-2 row justify-content-center align-items-center">
  <span class="p-3" data-target="autosave.status"></span>
</div>


  <% @responses.each.with_index do |response,i| %>
    <%= form.fields_for :responses, response do |r| %>
    <h3><%= response.question.question %></h3>
    <div class="row mt-5">
      <% response.question.choices.each do |choice| %>
        <div class="col-md-3">
          <%= r.label choice.choice %>
          <%= r.radio_button :choice_id, choice.id, data: {action: "click->autosave#save"} %>
        </div>
      <% end %>
    </div>
    <div class="form-group mt-4">
      <%= r.text_area :response, class: "form-control", placeholder: "Response", rows: "5", data: {action: "keyup->autosave#save"} %>
    </div>
    <div class="form-group mt-4">
      <%= r.file_field :images, multiple: true, data: {action: "change->autosave#save"} %>
    </div>
    <hr>
    <% end %>
  <% end %>
 

  <%= form.hidden_field :address_id, value: params[:address] %>
  <%= form.hidden_field :customer_id, value: params[:customer] %>

  <div class="actions">
    <%= form.submit "Create Report", class: "btn btn-primary" %>
  </div>
<% end %>
