<%= form_with(model: report, data: {target: "report.form report.save", action: "ajax:success->report#success ajax:error->report#error"}) do |form| %>

  <div style="position:absolute;top: 0; left: 0; right: 0;width: 100%;" class="py-2 row justify-content-center align-items-center">
    <span class="p-3" data-target="report.status"></span>
  </div>

  <div class="mt-5">
    <div style="border-bottom: 2px solid #111; width: 100%;"></div>
    <% questions.each do |q| %>
      <%= form.fields_for :responses, q.responses.first do |r| %>
        <h3 class="mt-5"><%= q.question %></h3 class="mt-5">

        <% q.choices.order(id: :asc).each do |choice| %>
          <div class="col">
            <%= r.label choice.choice %>
            <%= r.radio_button :choice_id, choice.id, data: {action: "click->report#save"} %>
          </div>
        <% end %>

        <div class="form-group mt-4">
          <%= r.text_area :response, class: "form-control", placeholder: "Response", rows: "5", data: {action: "keyup->report#save"} %>
        </div>


        <div class="form-group mt-4">
            <% q.responses.first.images.each do |img| %>
              <%= link_to image_tag(img, width: "100px", data: {action: "click->report#choose", target: "report.image", id: "#{img.blob.id}"}) %>
            <% end %>
        </div>

        <div class="form-group mt-4">
            <%= r.file_field :images, multiple: true, data: {action: "change->report#save", target: "report.item"} %>
        </div>

      <% end %>
      <hr>
    <% end %>
    <div class="row justify-content-between">
      <%= link_to "Back", "#", class: "btn btn-primary", data: {action: "click->report#back"} %>
      <%= link_to "Next", "#", class: "btn btn-primary", data: {action: "click->report#next"} %>
    </div>
  </div>
<!--  
  <div class="actions">
    <%#= link_to "See Report", report_path(@report), class: "btn btn-primary" %>
  </div> -->
<% end %>