<%= form_with(model: report, data: {controller: "autosave", target: "autosave.form", action: "ajax:success->autosave#success ajax:error->autosave#error"}) do |form| %>

  <div style="position:absolute;top: 0; left: 0; right: 0;width: 100%;" class="py-2 row justify-content-center align-items-center">
    <span class="p-3" data-target="autosave.status"></span>
  </div>


  <h6><%= @address %></h6>
  <h6><%= @customer %></h6>


  <% @questions.each.with_index do |q,i| %>
    <% q[1].each do |qq| %>
      <span class="badge badge-pill badge-primary"><%= qq.section %></span>
      <%= form.fields_for :responses, qq.responses.first do |r| %>
        <h6><%= qq.question %></h6>

        <% qq.choices.each do |choice| %>
          <div class="col-md-3">
            <%= r.label choice.choice %>
            <%= r.radio_button :choice_id, choice.id, data: {action: "click->autosave#save"} %>
          </div>
        <% end %>

        <div class="form-group mt-4">
          <%= r.text_area :response, class: "form-control", placeholder: "Response", rows: "5", data: {action: "keyup->autosave#save"} %>
        </div>
        <div class="form-group mt-4">
          <%= r.file_field :images, multiple: true, data: {action: "change->autosave#save"} %>
        </div>

      <% end %>
    <% end %>
    <hr>
  <% end %>
 


  <div class="actions">
    <%= form.submit "Create Report", class: "btn btn-primary" %>
  </div>
<% end %>
