<%= form_with(model: report, local: true) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <% @questions.each do |question| %>
    <h5 class="font-weight-bold mt-5"><%= question.question %></h5>
    <%= form.fields_for :responses, Response.new do |response| %>
      <%= response.hidden_field :question_id, value: question.id %>
      <div class="row">
        <% question.choices.each do |choice| %>
          <div class="col-md-3">
            <%= response.label choice.choice %>
            <%= response.radio_button :choice_id, choice.id %>
          </div>
        <% end %>
      </div>
      <div class="form-group mt-4">
        <%= response.text_area :response, class: "form-control", placeholder: "Response", rows: "5" %>
      </div>
      <div class="form-group mt-4">
        <%= response.file_field :images, multiple: true%>
      </div>
    <% end %>
  <% end %>

  <%= form.hidden_field :address_id, value: params[:address] %>
  <%= form.hidden_field :customer_id, value: params[:customer] %>

  <div class="actions">
    <%= form.submit "Create Report", class: "btn btn-primary" %>
  </div>
<% end %>
