<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h1>Reports</h1>
      <% @reports.each do |report| %>
        <div class="card mt-5">
          <div class="card-body">
            <%= report.address.long_address %>
            <%= report.customer.name %>
            <%= report.admin.name %>
            <%= link_to 'Show', report %>
            <%= link_to 'Edit', edit_report_path(report) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

