<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-12">
			<div class="shadow">
				<%= image_tag("https://maps.googleapis.com/maps/api/streetview?size=400x400&location=#{@report.address.latitude},#{@report.address.longitude}&fov=90&pitch=0&key=AIzaSyARQ8k0F667JhDrekyvRKA_NhDrVei3rGI", width: "100%", class: "streetview") %>
			</div>
		</div>
		<div class="col-md-12 mt-4 pb-4" style="border-bottom: 1px solid #111;">
			<div class="d-flex justify-content-between">
				<div>
			  	<h1 class="h2"><%= @report.address.long_address %></h1>
			  	<h6><%= @report.admin.name %> inspected this home.</h6>
				</div>
			  <div class="card bg-primary text-center" style="width: 200px;">
			  	<div class="card-body">
			  		<span class="display-4 bold">87</span><br>
			  		HomeScore
			  	</div>
			  </div>
			</div>
		</div>

<!-- 		<div class="col-md-10 mt-5" data-controller="report" data-target="report.next report.back" data-report-section="1" data-report-url="/info?id=<%= @report.id %>">

		</div>

		<div class="loader d-none" id="loader"></div> -->

		<div class="col-md-12 justify-content-center mt-5">
		<h2>Energy</h2>
		<hr>
			<div class="row justify-content-center">
				<div class="col-md-4">
					<div class="card">
						<div class="card-body text-center">
							<h1>17</h1>
							WINDOWS
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<div class="card-body text-center">
							<h1>14</h1>
							DOORS
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<div class="card-body text-center">
							<h1>14</h1>
							DOORS
						</div>
					</div>
				</div>
			</div>
		</div>
		<table class="table mt-5">
		  <thead>
		    <tr>
		      <th scope="col">Date</th>
		      <th scope="col">kwh</th>
		      <th scope="col">Cost</th>
		    </tr>
		  </thead>
		  <tbody>
		   	<% @utility["bills"].each do |u| %>
		   	<tr>
		   		<% a = DateTime.parse(u["base"]["bill_end_date"]) %>
					<td><%= a.strftime("%B %Y") %></td>
					<td><%= u["base"]["bill_total_kwh"] %></td>
					<td><%= u["base"]["bill_total_cost"] %></td>
				</tr>
				<% end %>
		  </tbody>
		</table>

	</div>
</div>

