<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<div>
			  <%= image_tag("icons8-marker-black.svg", width: "16px", class: "mb-1") %> <%= @report.address.long_address %>
			</div>

			<% @questions.each do |q| %>
				<div class="mt-5">
						<% r = @responses.find_by(question_id: q) %>
						<% if r.images.attached? %>
							<% r.images.each do |img| %>
								<%= image_tag(img, width: "20%") %>
							<% end %>
						<% end %>
						<% if r.choice.id.present? %>
							<p class="mt-3"><%= q.question %> <%= Choice.find(r.choice_id).choice %></p>
						<% end %>
						<p><%= r.response %></p>
				</div>
			<% end %>


			<%= link_to 'New Question', new_question_path %>  


			<%= link_to 'Edit', edit_report_path(@report) %> |
			<%= link_to 'Back', reports_path %>
		</div>

		<div class="col-md-4">
			<div class="card my-3">
				<div class="card-body">
					<small>Customer</small><br>
					<%= @report.customer.name %>
				</div>
			</div>

			<div class="card my-3">
				<div class="card-body">
					<small>Inspector</small><br>
			  	<%= @report.admin.name %>
				</div>
			</div>
		</div>

	</div>
</div>

